<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>Hi I'm <strong> Lalit Chelani</strong>, I am an experienced Software Engineer who has been involved in application development and problem-solving for a while now. I have been involved in the agile/scrum environment.

               
              <p>
                Technologies I am skilled in:
                Languages: Java, Javascript, AngularJS, HTML/CSS, C, C++, Python
                Databases: MySQL, Oracle, Redis, VBA
                Tools and Frameworks: NodeJS, Git, Cypress, Bootstrap, Tableau, Visual Studio Code, Eclipse, Firebase, Jira, GitHub              </p> 
                
          
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date of Birth:</strong>
                </div>
                <div class="col-sm-8">June 12, 1996</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">lchelani@umd.edu
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">+1(301)-455-9529</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8"> 8125 48th Avenue, College Park, MD
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Language:</strong>
                </div>
                <div class="col-sm-8">English, Hindi </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>