<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>
            
     <div class="row">
    
    
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/Covid19.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title"> Covid-19 Tracker</h4>
          <h5 class="card-text"><b>Technology :</b> Angular8,Bootstrap3, </h5>
            <h5 class="card-text"><a href="https://lalit126.github.io/Covid19/">View my Live Demo</a></h5>
           
        <!-- <a href="https://medium.com/@mehulkothari05/personal-portfolio-using-django-dba49c355905" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a> -->
        <a href="https://github.com/Lalit126/Covid19" class="btn btn-primary stretched-link">GithubLink</a> 
        
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top"src= "assets/images/Countryapi.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title"> Country REST API </h4>
           <h5 class="card-text"><b>Technology :</b> Django,Python,Bootstrap3 </h5>
    
            <h5 class="card-text"><a href="https://lalit126.github.io/Countries-RESTApi/
              ">View my Live Demo</a></h5>
    
        <!-- <a href="https://medium.com/@mehulkothari05/personal-portfolio-using-django-dba49c355905" class="btn btn-primary  stretched-link ml-2 mr-5 ">See Project</a> -->
          <a href="https://github.com/Lalit126/Countries-RESTApi" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
    </div>
    </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/Portfolio.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title"> Personal Portfolio </h4>
          <h5 class="card-text"><b>Technology :</b> HTML5,CSS3,JS,MYSQL,PHP </h5>
            <h5 class="card-text"><a href="http://www.brahmanvarvadhusuchak.com/">View my Live Demo</a></h5>
        <!-- <a href="https://medium.com/@mehulkothari05/matrimonial-website-9cd5247f477d" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a> -->
          <a href="https://github.com/Lalit126/Portfolio_Angular8" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
      </div>
    </div>
    </div>
    
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/MasterCook.png" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title"> MasterCook (Learning Management System)</h4>
           <h5 class="card-text"><b>Technology :</b> Django,Python,ML,DataScience </h5>
           <!-- <h5 class="card-text"><a href="https://medium.com/@mehulkothari05/movie-success-prediction-a67d871a7b1"> Read Blog on this  Project</a></h5>
        <a href="https://medium.com/@mehulkothari05/movie-success-prediction-a67d871a7b1" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a> -->
          <a href="https://github.com/mehulk05?tab=repositories" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
    </div>
    </div>
      </div>
    
       
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/helpdesk.png" alt="Card image" style="width:100%" style="border: 2px darkgrey; border-radius: 10px;">
        <div class="card-body">
          <h4 class="card-title">IT Helpdesk</h4>
           <h5 class="card-text"><b>Technology :</b> Python,Android,Firebase </h5>
             <!-- <h5 class="card-text"><a href="https://medium.com/@mehulkothari05/smart-baby-stroller-system-3f6b4f49476a"> Read Blog on this  Project</a></h5>
          <a href="https://medium.com/@mehulkothari05/smart-baby-stroller-system-3f6b4f49476a" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a> -->
          <a href="https://github.com/Lalit126" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
        </div>
        </div>
      </div>
    
   
      
    
    
    </div>
    </div>
  </div>