<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>
            
     <div class="row">
    
    
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/Covid19.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title"> Covid-19 Tracker</h4>
          <h5 class="card-text"><b>Technology :</b> Angular8, Bootstrap3, HTML, CSS, REST API </h5>
            <h5 class="card-text"><a href="https://lalit126.github.io/Covid19/">View my Live Demo</a></h5>
           
        <a href="https://github.com/Lalit126/Covid19" class="btn btn-primary stretched-link">GithubLink</a> 
        
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top"src= "assets/images/Countryapi.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title"> Country REST API </h4>
           <h5 class="card-text"><b>Technology :</b> Angular8, Typescript, Bootstrap3, HTML, CSS, Firebase, REST API </h5>
    
            <h5 class="card-text"><a href="https://lalit126.github.io/Countries-RESTApi/
              ">View my Live Demo</a></h5>
    
          <a href="https://github.com/Lalit126/Countries-RESTApi" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
    </div>
    </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/Portfolio.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title"> Personal Portfolio </h4>
          <h5 class="card-text"><b>Technology :</b> HTML5, CSS3, JS, MYSQL, FIREBASE </h5>
            <h5 class="card-text"><a href="https://lalit126.github.io/Portfolio_Angular8/">View my Live Demo</a></h5>
          <a href="https://github.com/Lalit126/Portfolio_Angular8" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
      </div>
    </div>
    </div>
    
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/MasterCook.png" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title"> MasterCook (Learning Management System)</h4>
           <h5 class="card-text"><b>Technology :</b> React, HTML, CSS, JAVASCRIPT, FIREBASE</h5>
          <a href="https://github.com/pranav2308/mastercook" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
    </div>
    </div>
      </div>
    
       
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/helpdesk.png" alt="Card image" style="width:100%" style="border: 2px darkgrey; border-radius: 10px;">
        <div class="card-body">
          <h4 class="card-title">IT Helpdesk</h4>
           <h5 class="card-text"><b>Technology :</b> PHP, TSQL, HTML, CSS, JAVASCRIPT, MYSQL, ZEND STUDIO </h5>
          
          <a href="https://github.com/Lalit126/IT-HELP-DESK" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
        </div>
        </div>
      </div>
    
   
      
    
    
    </div>
    </div>
  </div>